<!-- Side navigation -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href={{url_for('static',filename='../static/number1.css') }}>

    <title>Mainpage</title>
</head>
<body>
<div class="main">
  <form action ="{{url_for('page_choose')}}" method="POST">
    <section class="sec1">

      <div class="row">
        <div class="column">
        <h1 class="section-heading">DATA RELATED TO THE DISEASES</h1>
      </div>
      </div>
          <!-- --1-- -->
          <div class="row">
            <div class="column">
 
      <button type="submit" class="card " value="1" name="b1" >Diseases_details</button>

            </div>
          </div>
          <div class="row">
            <div class="column">
        <!-- --3-- -->
      
          <button type="submit" class="card" value="3" name="b1">Treatment_details</button>
     
        </div>
      </div>
      <div class="row">
        <div class="column">
        <!-- --4-- -->

          <button type="submit" class="card " value="4" name="b1">Prevention_details</button>

        </div>
      </div>
      <div class="row">
        <div class="column">
        <!-- --5-- -->
    
          <button type="submit" class="card " value="5" name="b1">Medicine_details</button>

        </div>
      </div>
      <div class="row">
        <div class="column">
        <!-- --6-- -->
        
          <button type="submit" class="card " value="6" name="b1">Identification_Test</button>
       
        </div>
      </div>
      <div class="row">
        <div class="column">
        <!-- --7-- -->
         
          <button type="submit" class="card " value="7" name="b1">Symptoms</button>
       
        </div>
      </div>
      <div class="row">
        <div class="column">
        <!-- --8-- -->
        
          <button type="submit" class="card " value="8" name="b1">Vaccine</button>
       
        </div>
      </div>
      <div class="row">
        <div class="column">
        <!-- --9-- -->
        
        <button type="submit" class="card " value="9" name="b1">Transmission_modes</button>
     
      </div>
    </div>
    <div class="row">
      <div class="column">
        <!-- --28-- -->
    
      <button type="submit" class="card " value="28" name="b1">Full_Disease_Details</button>
   
 </div>
 </div>

    </section>
    <section>



      <div class="row">
        <div class="column">
        <h1 class="section-heading">SEARCHING NAMES </h1>
      </div>
      </div>
      <div class="row">
        <div class="column">
          <!-- --2-- -->
    
      <button type="submit" class="card " value="2" name="b1">List_of_Diseases</button>
    </div>
  </div>
  <div class="row">
    <div class="column">

    <!-- --10-- -->
    
      <button type="submit" class="card " value="10" name="b1">List_of_Treatments</button>
    </div>
  </div>
  <div class="row">
    <div class="column">
    <!-- --11-- -->
      
        <button type="submit" class="card " value="11" name="b1">List_of_Transmission_modes</button>
      </div>
    </div>
    <div class="row">
      <div class="column">
    <!-- --12-- -->
        
          <button type="submit" class="card " value="12" name="b1">List_of_Medicines</button>
        </div>
      </div>
      <div class="row">
        <div class="column">
    <!-- --13-- -->
          
            <button type="submit" class="card " value="13" name="b1">List_of_Vaccines</button>
          </div>
        </div>
        <div class="row">
          <div class="column">
    <!-- --14-- -->
            
              <button type="submit" class="card " value="14" name="b1">List_of_Identification_tests</button>
            </div>
          </div>
          <div class="row">
            <div class="column">
    <!-- --15-- -->
              
                <button type="submit" class="card " value="15" name="b1">List_of_symptoms</button>

              </div>
            </div>
    </section>








    <section>


      <div class="row">
        <div class="column">
        <h1 class="section-heading">FINDING DISEASES</h1>
      </div>
      </div>
      <div class="row">
        <div class="column">

          <!-- --16-- -->
          
            <button type="submit" class="card " value="16" name="b1">Treatment_description</button>
          </div>
        </div>
        <div class="row">
          <div class="column">
<!-- --17-- -->

  
  <button type="submit" class="card " value="17" name="b1">Identification_test_description</button>
</div>
</div>
<div class="row">
  <div class="column">

<!-- --18-- -->
  
    <button type="submit" class="card " value="18" name="b1">Medicine_Dosage</button>
  </div>
</div>
<div class="row">
  <div class="column">

<!-- --19-- -->
        
          <button type="submit" class="card " value="19" name="b1">Disease_by_Medicine</button>
        </div>
      </div>
      <div class="row">
        <div class="column">
<!-- --20-- -->
          
            <button type="submit" class="card " value="20" name="b1">Disease_by_Treatment</button>
          </div>
        </div>
        <div class="row">
          <div class="column">
<!-- --21-- -->

  <button type="submit" class="card " value="21" name="b1">Disease_by_Transmission_modes</button>
</div>
</div>
<div class="row">
  <div class="column">
<!-- --22-- -->

<button type="submit" class="card " value="22" name="b1">Disease_by_Vaccine</button>
</div>
</div>
<div class="row">
  <div class="column">
<!-- --23-- -->

<button type="submit" class="card " value="23" name="b1">Disease_by_Identification_test</button>
</div>
</div>
    </section>

    <section>
      <div class="row">
        <div class="column">
        <h1 class="section-heading">SYMPTOMS</h1>
      </div>
      </div>

      <div class="row">
        <div class="column">
    <!-- --24-- -->
    
      <button type="submit" class="card " value="24" name="b1">Disease_Predictor</button>
    </div>
  </div>
  <div class="row">
    <div class="column">
    <!-- --25-- -->
    
      <button type="submit" class="card " value="25" name="b1">Disease_from_symptoms</button>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="column">
    <h1 class="section-heading">INSERT AND UPDATE</h1>
  </div>
  </div>

  <div class="row">
    <div class="column">
<!-- --29-- -->

  <button type="submit" class="card " value="29" name="b1">Contribute towards our database</button>
</div>
</div>
</section>
  </form>                    
 </div>
</body>
</html>