<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href={{ url_for('static',filename='../static/stylemain.css') }}>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <title>Mpg2</title>
</head>
<body>
    <div>
        <p id="hello1">DISEASE WIKI</p>
    </div>  
    
     <!-- $$$$$$$$$$$$$$$$$$$$ -->
    
    <div class="topnav">
    <form id="form2" method="POST" action="{{ url_for('q_18') }}">
      <input type="text" id="searchbar" name="search2" placeholder="Search according to the selected option above">
      <br>
      <input type="text" id="searchbar" name="search3" placeholder="Search according to the selected option above">
      <br>
      <button id="searchbtn" type="submit"><i class="fa fa-search"></i></button>
    </form>
    </div>
</body>
</html>